:root {
    --color-main: #f3e9dc;
    --color-secondary: #5e3023;
    --color-accent: #895737;
    --color-secondary-accent: #c08552;
}

.LandingField {
    height: 35rem;
    width: 100%;
    background-color: var(--color-main);
    display: flex;           /* Add this */
    flex-direction: row;
}

.LF-left{
    height: 90%;
    width: 40%;
    display: flex;          
    justify-content: center; 
    align-items: center; 
    padding-left: 8%;
    padding-right: 2%;
}
.LF-right {
    height: 90%;
    width: 40%;
    display: flex;          
    justify-content: center; 
    align-items: center; 
    padding-left: 2%;
    padding-right: 8%;
}

.LF-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: Left;
    width: 100%;
}

.LF-title{
    text-align: Left;
    font-size: 4rem;
    color: var(--color-secondary);
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.LF-body{
    font-size: 1.5rem;
    color: var(--color-accent);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.LandingField img{
    width: auto;
    height: 90%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


